body{
  width: 450px;
}


img{
    float:left;
}

.right{
    float:right;
}



footer{


  border-top: 2px solid;
}


.box{
  border: 2px solid;
  width: 300px;
  height: 200px;
  border-radius: 25px;

}
