.heading {
    font-family: Lato-Light, sans-serif;
    font-size: 64px;
    color: #ffffff;
    display: flex;
  justify-content: space-around;
}

.todo-item {
    font-family: Lato-Regular, sans-serif;
    font-size: 26px;
    line-height: 2.2;
    color: #cecece;
   display: flex;
   justify-content: space-around;
}

.button-text {
    font-family: Lato-Regular, sans-serif;
    font-size: 26px;
    color: #ffffff;
}

.app{
   width: 800px;
   height: 660px;
   background-color: #50E3C2;
   margin: auto;
   position: relative;
   top: 50px;
}

.todoApp{
   width: 460px;
   height: 560px;
   background-color: #f5f5f5;
   margin: auto;
   position: relative;
   top: 50px;
}

.delete{
   width: 18px;
   height:22px;
   background-image: url(delete.png);
    background-size: contain;
}
