html {
  width: 100%;
  height: 100%;
  background-color: rgb(80, 227, 194);
  text-align: center;
}

.todoApp{
   border: solid 2px;
   border-color: red;
}

.heading{
   border: solid 2px;
   border-color: blue;
}

.list-item{
   border: solid 2px;
   border-color: yellow;
}

.add-new-item{
   border: solid 2px;
   border-color: green;
}
