.backGround1{
   width: 811;
   height: 540px;
   background-color: black;
   /*
   display: flex;
   justify-content: center;
   align-items: center;
*/
}

button{
   width: 125px;
   height: 125px;
   transform: rotate(45deg);

}

.square{
   border: solid 3px;
   border-color: tomato;
   width: 125px;
   height: 125px;
   transition:  1s;

}

.backGround1{
   color: tomato;
}

.square:hover {
    transform: rotate(45deg);

    color: red;
}
.square:hover > .tom {
    color:red;
    transform: rotate(-45deg);
}

button{
   position: absolute;
   top:182px;
   left: 318px;
}

.square{
   position: absolute;
   top:179px;
   left: 315px;
    color:tomato;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tom{
   color:black;
   transition: 1s;
}
