
.foxplayer{
   width: 700px;
   height: 500px;
   margin: auto;
}



#logo{
   width: 200px;
   background-image: url('./images/foxplayer.png');
   background-repeat: no-repeat;
}

#currentlySong{
   width: 500px;
   height: 65px;
   background-color: green;
}

.controll_Panel{
   position: relative;
   width: 100%;
   background-color: yellow
}

#tracks{
   position: relative;
   left:135px;
   width: 365px;

}

section{
   height: 100px;
   border: solid 2px;
   border-color: red;
}

.wrapper{
   display: flex;
}
