




section{
   /* BORDER FOR HELP */
/*
   border: solid 3px;
   border-color: blue;
   margin: 3px;
*/
   /* END OF BORDER FOR HELP */


}


.list {
   width:121px;
   font-size: 1rem;
  background-color: #F9F9F9;
  padding: 2px;
  line-height: 120%;
}



.list{

   /* BORDER FOR HELP */
   border: solid 1px;
   border-color:#AAAAAA;
   margin: 3px;
   /* END OF BORDER FOR HELP */

}

/* BORDER FOR HELP */
/* END OF BORDER FOR HELP */


.profile-box{
   width:270px ;
   height:538px ;
   border: solid 1px;
   background-color: #F9F9F9;
   float: right;

}

.Margaret_Hamilton-picture{
   width:220px ;
   height: 280px ;
   padding-left: 26px;
   padding-top: 0px;

}

.profile-box-header{
   text-align: center;
   padding-top: 10px;
   padding-bottom: 7px;
   margin-bottom: 0px;
}

.Hamilton-picture-info{
text-align: center;
margin-top: 0px;
margin-bottom: 3px;


}

footer{
   border: solid 1px;
   border-color: #AAAAAA;
}

tr{
   font-size: 0.85rem;
}
td{
vertical-align:text-top;
}

.Navigation-sidebar{
   background-color: #F6F6F6;
   width: 175px;
   border-right:1px;
   border-color: #A7D7F9;
}



table{
   border-collapse: separate;

}

.need-to-float-left{
   float: left;
}



.M-H-books, .M-H-actions, .M-H-official{
   width: 220px;
   background-color:#F9F9F9;
   border: solid 1px;
   border-color: black;
   font-size: 0.85rem;

   margin: 3px;
}

 .M-H-official{
   width: 178px;
   background-color:#F9F9F9;
   border: solid 1px;
   border-color: black;
   font-size: 0.85rem;
}


aside{
width: : 170px;
float:left;
}

main{

 box-sizing: border-box;
 width: 1500px;
 height: 100%;

 float: left;
 border-left: 1px;
 border-left: lightblue;

}

.list ul{
    list-style-type: none;
    padding-left: 8px;
}

.list-in-list  {
   padding-left: 12px;
}
