header{
   /* BORDER FOR HELP */
     border: solid 3px;
     border-color: red;
     margin: 3px;
     /* END OF BORDER FOR HELP */

}


section{
   /* BORDER FOR HELP */
   border: solid 3px;
   border-color: blue;
   margin: 3px;
   /* END OF BORDER FOR HELP */
}

.list {
   width:121px;
   font-size: 0.85rem;
  background-color: #F9F9F9;
}



.list{

   /* BORDER FOR HELP */
   border: solid 3px;
   border-color: yellow;
   margin: 3px;
   /* END OF BORDER FOR HELP */

}

/* BORDER FOR HELP */
/* END OF BORDER FOR HELP */


.profile-box{
   width:270px ;
   height:538px ;
   border: solid 1px;
   background-color: #F9F9F9;
   float: right;

}

.Margaret_Hamilton-picture{
   width:220px ;
   height: 280px ;
   padding-left: 26px;
   padding-top: 0px;

}

.profile-box-header{
   text-align: center;
   padding-top: 10px;
   padding-bottom: 7px;
   margin-bottom: 0px;
}

.Hamilton-picture-info{
text-align: center;
margin-top: 0px;
margin-bottom: 3px;


}

footer{
   border: solid 1px;
   border-color: #AAAAAA;
}

tr{
   font-size: 0.85rem;
}
td{
vertical-align:text-top;
}

.Navigation-sidebar{
   background-color: #F6F6F6;
   width: 175px;
}



table{
   border-collapse: separate;

}


.M-H-books, .M-H-actions, .M-H-official{
   width: 220px;
   background-color:#F9F9F9;
   border: solid 1px;
   border-color: black;
   font-size: 0.85rem;
}

 .M-H-official{
   width: 178px;
   background-color:#F9F9F9;
   border: solid 1px;
   border-color: black;
   font-size: 0.85rem;
}


aside{
width: : 170px;
float:left;
}

main{

 box-sizing: border-box;
 width: 1500px;
 height: 100%;
 border: 2px solid black;
 float: left;

}

.list ul{
    list-style-type: none;
    padding-left: 8px;
}

.list-in-list  {
   padding-left: 12px;
}
