header{
   /* BORDER FOR HELP */
     border: solid 3px;
     border-color: red;
     margin: 3px;
     /* END OF BORDER FOR HELP */

}


section{
   /* BORDER FOR HELP */
   border: solid 3px;
   border-color: blue;
   margin: 3px;
   /* END OF BORDER FOR HELP */
}




.list ol {
  counter-reset: section;                /* Creates a new instance of the
                                            section counter with each ol
                                            element */
  list-style-type: none;
}

.list li::before {
  counter-increment: section;            /* Increments only this instance
                                            of the section counter */
  content: counters(section,".") " ";    /* Adds the value of all instances
                                            of the section counter separated
                                            by a ".". */
                                         /* if you need to support < IE8 then
                                            make sure there is no space after
                                            the ',' */



}



.list{

   /* BORDER FOR HELP */
   border: solid 3px;
   border-color: yellow;
   margin: 3px;
   /* END OF BORDER FOR HELP */

}

/* BORDER FOR HELP */
/* END OF BORDER FOR HELP */


.profile-box{
   width:270px ;
   height:538px ;
   background-color: #F9F9F9;
}

.Margaret_Hamilton-picture{
   width:220px ;
   height: 280px ;
   padding-left: 26px;
   padding-top: 0px;

}

.profile-box-header{
   text-align: center;
   padding-top: 10px;
   padding-bottom: 7px;
   margin-bottom: 0px;
}

.Hamilton-picture-info{
text-align: center;

}

footer{
   border: solid 1px;
   border-color: #AAAAAA;
}

tr{
   font-size: 0.90rem;
}

.Navigation-sidebar{
   background-color: #F6F6F6;
   width: 175px;
}
